/* IMPOSTAZIONI GENERALI */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: auto;
    background-image: url(../img/sfondo.png);
    background-repeat: repeat-y;
    background-position: center;
    background-size: 60%;
    font-family: 'Poppins', sans-serif;
}

i {
    margin: 0.5em;
}

a {
    color: #01AACD;
}

/* HEADER */

header {
    background: linear-gradient(to bottom, #01AACD, #006688);
    margin: 5%;
    padding: 8%;
    text-align: center;
    font-weight: 600;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
}

header h2,
header p {
    color: white;
    margin: 0.5em 0 0.5em 0;

}

header h2 {
    margin: 1.5em;
}

header img {
    width: 100%;
}

/* MAIN */

main {
    margin: 10vh;
    background-color: white;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
    padding: 1em;
}

main h1 {
    font-size: 2em;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.8em;
    margin: 1em 0 1em 0;
}

main p {
    color: black;
    font-size: 1.2em;
    line-height: 1.6em;
}

main span {
    color: #AA2072;
}

main h6 {
    color: #94AA99;
}

/* ELEMENTI NEL MAIN - ARTICLE */

.fintobutton {
    display: inline;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 7px;
    background-color: rgb(231, 231, 231);
}

p {
    margin: 1.2em 0 1.2em 0;
}

main article ul {
    list-style: disc;
}

main article ol {
    list-style: decimal;
}

main article ul,
main article ol {
    margin: 1.8em;
    font-size: 1.2em;
    line-height: 1.6em;
}

main article table {
    font-size: 1.2em;
    width: 100%;
    border-bottom: 2px solid #3366CC;
}

main article table td,
main article table th {
    line-height: 2.5em;
    text-align: center;
}

main article table thead {
    background-color: #3366CC;
    color: white;
}

main article table caption {
    font-style: italic;
    font-weight: bold;
    margin: 0.2em;
}

main article table thead th:nth-child(2) {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

main article table tbody:nth-child(even) {
    background-color: rgb(230, 230, 230);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

main article iframe {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.newsletter {
    margin: 1em 0.5em 1em 0.5em;
    padding: 0.5em;
    background-color: rgb(245, 245, 245);
    text-align: center;
}

/* ELEMENTI NELL' ASIDE */
main aside form button {
    background-color: #3366CC;
    color: white;
    font-weight: 600;
}

/* NAV */

main nav a {
    font-size: 1.43em;
}

.articolo_proposo p {
    font-size: 1.2em;
    margin: 0 0 0.5em 0;
}

.articolo_proposo i {
    margin: 0.4em 0.2em 0 0.2em;
}

.articolo_proposo {
    background-color: rgb(245, 245, 245);
    border: 1px solid lightgray;
    margin: 1em 0 1em 0;
    padding: 1em;
}

.dataP {
    text-align: end;
}

/* FOOTER */

footer {
    margin: 5%;
    padding: 8%;
    text-align: center;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to top, #01AACD, #006688);
    padding: 1em;
}

footer h4 {
    color: white;
    margin: 0.5em 0 1em 0;
}

footer p {
    color: white;
    margin: 0.5em 0 0.5em 0;
    line-height: 1.2em;
}

footer a {
    color: #AA2072;
    font-weight: 600;
}

#correlati {
    text-align: center;
}