/* IMPOSTAZIONI GENERALI */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    width: 500px;
    margin: auto;
    background-image: url(../img/sfondo.png);
    background-repeat: repeat-y;
    background-position: center;
    background-size: 35%;
    font-family: 'Poppins', sans-serif;
}

i {
    margin: 0.5em;
}

/* HEADER */

header {
    background: linear-gradient(to bottom, #01AACD, #006688);
    margin: 5%;
    padding: 8%;
    text-align: center;
    font-weight: 600;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
}

header h2,
header p {
    color: white;
    margin: 0.5em 0 0.5em 0;

}

header h2 {
    margin: 1.5em;
}

header img {
    width: 100%;
}

/* MAIN */

main {
    background-color: white;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
    padding: 1em;
}

main h1 {
    font-size: 2em;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
}

main p {
    color: black;
    font-size: 1.2em;
    line-height: 1.6em;
}

main span {
    color: #AA2072;
}

main h6 {
    color: #94AA99;
}

/* ELEMENTI NEL MAIN - ARTICLE */

.fintobutton {
    display: inline;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 7px;
    background-color: rgb(231, 231, 231);
}

p {
    margin: 1.2em 0 1.2em 0;
}

main article ul {
    list-style: disc;
    margin: 1.8em;
    font-size: 1.2em;
    line-height: 1.6em;
}



/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */

footer {
    margin: 5%;
    padding: 8%;
    text-align: center;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to top, #01AACD, #006688);
    padding: 1em;
}

footer h4 {
    color: white;
    margin: 0.5em 0 1em 0;
}

footer p {
    color: white;
    margin: 0.5em 0 0.5em 0;
    line-height: 1.2em;
}

footer a {
    color: #AA2072;
    font-weight: 600;
}